<!DOCTYPE html>
<html lang="en">
<head>
    <title> Decimal to Octal</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1,
    shrink-to-fit=no" name="viewport">
    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet">
    <!--Typed.js-->
    <script src="https://cdn.jsdelivr.net/npm/typed.js" type="text/javascript"></script>
    <style>
        h1{
            text-align:right;
            margin-bottom:20px;
        }
        div{
        margin-top:30px;
        margin-bottom:20px;
        }
        button{
        text-align:center;
        width:100%;
        font-size:400%;
        border-radius:20px;
        border:0px;
        }
</style>
</head>

<body style="background-color:#e5e4e2;">
<div class="container">
    <form action="/d_to_o_result" method="post"> {% csrf_token %}
        <h1>Enter a Decimal no:<input name="decimal" type="text"  required></h1>
        <button style="background-color:Tomato;color:Black;" type="submit">
            Submit
        </button>
    </form>

    <form action="/index" method="post"> {% csrf_token %}
        <button style="margin-top:30px;
            background-color:Red;color:White;" type="submit">Homepage
        </button>
    </form>
</div>
</body>
</html>